:root {
    --color-iris: #4d5ae5;
    --color-title: #2e2f42;
    --color-text: #434455;
    --color-link: #434455;
    --color-white: #ffffff;
    --background-hero: #2e2f42;
    --lightslate: #8e8f99;
    --ocean: #404bbf;
    --green-hover: #31d0aa;
}
    
    body {
        color: var(--color-text);
        background-color: var(--color-white);
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        letter-spacing: 0.02em;
    }

     /* Reset */
    h1,h2,h3,h4,h5,h6 {
    color: var(--color-title);
    margin: 0;
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }

    ul, ol {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      text-decoration: none;
      color: currentColor;
    }

    button {
      font-family: inherit;
      cursor: pointer;
    }

    .link {
      text-decoration: none;
    }

        /* Base styles */
    .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }

    .container {
      width: 1158px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 15px;
    }

    /* Header styles */
    .header {
      border-bottom: 1px solid #e7e9fc;
    }
    
    .header-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .header-nav {
      display: flex;
      align-items: center;
    }


    .header-logo {
        margin-right: 76px;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 0;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        padding: 24px 0;
        color: var(--color-iris);
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;

    }
        
    .header-list {
      display: flex;
      align-items: center;
      gap: 40px;
    }

    .header-item {
    }

    .accent {
      color: var(--color-title);
    }

    .header-link {
      position: relative;
      color: var(--color-title);
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      text-decoration: none;
      padding: 24px 0;
    }

    .active {
      color: var(--ocean);
    }

    .header-link.active::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;

      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--ocean);

      border-radius: 2px;
    }

    .header-link:hover,
    .header-link:focus {
      color: #404bbf;
    }

    .site-nav .link:active {
        color: var(--color-iris);
    }

    .address {
        font-style: normal;
    }
    
    .contact {
      display: flex;
      align-items: center;
      gap: 40px;
    }

    .contact-link {
        color: var(--color-link);
        font-style: normal;
        font-size: 16px;
        line-height: 1.5;
        text-decoration: none;
    }

    .contact-link:hover,
    .contact-link:focus {
        color: #404bbf;
    }

    /* Hero */
    .hero {
      padding-top: 188px;
      padding-bottom: 188px;
      background: var(--background-hero);
      max-width: 1440px;
        margin: 0 auto;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
          url(../images/bgimg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    

    .hero-title {
        text-align: center;
        color: var(--color-white);
        font-weight: 500;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        margin-bottom: 48px;
        max-width: 496px;
        margin: 0 auto 48px auto;
    }

    .hero-button {
        display: block;
        margin: 0 auto;
        min-width: 169px;
        height: 56px;
        left: 636px;
        top: 428px;
        background: var(--color-iris);
        color: var(--color-white);
        font-family:'Roboto',sans-serif;;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        border: none;
        border-radius: 4px;
    }

    .hero-button:hover,
    .hero-button:focus {
        background-color: #404bbf;
    }

    /* About us section */
    
    .list-feature {
      display: flex;
      gap: 24px;
      padding: 120 0;
    }

    .feature-list {
      width: calc((100% - 72px) / 4);
    }

    .feature-section {
      padding: 120px 0;
    }

   .icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 264px;
      height: 112px;
      border-radius: 4px;
      background: #f4f4fd;
      margin-bottom: 8px;
    }

    .feature-icon {

    }

    .feature-title {
      color: var(--color-title);
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      margin-bottom: 8px;
    }

    .feature-text {
      color: var(--color-text);
      font-size: 16px;
      letter-spacing: 0.02em;
      line-height: 1.5;
      margin: 0;
    }

    .text {
    line-height: 1.5;
    }

    /* What are we doing */

    .section-pic {
      padding-bottom: 120px;
    }

    .section-our-team {
      background-color:#f4f4fd;
      padding: 120px 0;
    }

    .section-title {
      margin-bottom: 72px;
      color: var(--color-title);
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-align: center;
      text-transform: capitalize;
    }

    .section-pic-img {
      display: flex;
      gap: 24px;
    }

    .images {
      width: calc((100% - 48px) / 3);
    }

    /* Our Team */

    .title {
       margin-bottom: 72px;
    } 

    .team {
      display: flex;
      gap: 24px;
    }

    .our-team {
      background-color: #f4f4fd;
      padding: 120px 0;
    } 
    
    .team-card {
      background-color: #ffffff;
      box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
      border-radius: 0px 0px 4px 4px;
      width: calc((100% - 72px) / 4);
    }

    .our-title {
    color: var(--color-title);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    }

    .team-title {
      color: var(--color-title);
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      text-align: center;
      margin-bottom: 8px;
    }

    .team-text {
      color: var(--color-text);
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      text-align: center;
      margin: 0;
    }

    .team-list {
      padding: 32px 16px;
    }
    
    /* Footer */

    .footer-logo {
      font-family: 'Raleway', sans-serif;
      letter-spacing: 0;
      font-weight: 800;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      color: var(--color-iris);
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      margin-bottom: 16px;
    }

    .page-footer {
      padding-top: 100px;
      padding-bottom: 100px;
      background: var(--background-hero);
    }

    .accent-color {
      color: #f4f4fd;
    }

  
    .page-footer .text {
      width: 264px;
      color: #f4f4fd;
      font-size: 16px;
      line-height: 1.5;
      height: 72px;
    }

    .text-footer {
      font-size: 16px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.32px;
      color: var(--color-white);
      margin-bottom: 16px;
    }

    .footer-container {
      margin-right: 120px;
    }

    .page-footer-link {
      display: flex;
      justify-content: center;
      align-items: baseline;
    }

    .link-card-footer {
      display: flex;
      gap: 16px   
    }

    .socials-footer:hover,
    .socials-footer:focus {
      background-color: var(--green-hover);
    }

    .team-link {
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .team-icon {
      border-radius: 50%;
      background-color: var(--color-iris);
    }

    .footer-link {

    }

    /* Portfolio */

    .link-nav {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .section-main {
      padding: 96px 0 120px 0;
    }
    
    .btn {
      display: flex;
      justify-content: center;
      gap: 24px;
      margin-bottom: 72px;
    }

    .btn-text {
      color: var(--color-iris);
      background-color: #f4f4fd;
      font-family: inherit;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      cursor: pointer;
      list-style: none;
      padding: 12px 24px;
      background: #f4f4fd;
      border: 1px solid #e7e9fc;
      border-radius: 4px;
    }

    .btn-text:hover,
    .btn-text:focus {
      background-color: #404bbf;
      color: #ffffff;
      border: 1px solid transparent;
    }
    
    .gallery {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      row-gap: 48px;
    }

    .gallery-list {
      width: calc((100% - 48px) / 3);
    }

    .card-border {
      border: 1px solid #e7e9fc;
      border-top: none;
      padding: 32px 16px;
    }

    .gallery-title {
        color: var(--color-title);
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }

    .gallery-text {
        color: var(--color-text);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
    }

    /*Clients*/

   .section-clients {
      padding: 120px 0;
    }

    .clients-list {
      display: flex;
      justify-content: center;
      gap: 24px;
    }

    .client-item {
  
    }

    .clients-link { 
      display: flex;
      justify-content: center;
      align-items: center;
      
      width: 168px;
      height: 88px;
      
      border: 1px solid var(--lightslate);
      border-radius: 4px;
    }

    .clients-link:hover {
      border-color: var(--ocean);
    }

    .clients-icon {
      fill: var(--lightslate);
    }

    .clients-link:hover .clients-icon {
      fill: var(--ocean);
    }
    
  /*Modal styles*/
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.40);
  }

    .modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 408px;
      height: 584px;
      background-color: #FCFCFC;
      border-radius: 4px;

    }  

    .modal-btn {
      position: absolute;
      top: 24px;
      right: 24px;

      display: flex;
      align-items: center;
      justify-content: center;
      
      width: 24px;
      height: 24px;
      background-color: transparent;
      padding: 0;
      border: none;

    }
    .modal-icon {
      stroke:#2e2f42
    }